In [1]:
import pandas as pd
import numpy as np
import lantern as l
from perspective import PerspectiveWidget

In [2]:
# basic
df = l.superstore()

In [3]:
df_pivoted = df.set_index(['Country', 'Region'])
pt = pd.pivot_table(df, values = 'Discount', index=['Country','Region'], columns = 'Category')

In [4]:
PerspectiveWidget(df)

PerspectiveWidget(columns=['index', 'Category', 'City', 'Country', 'Customer ID', 'Discount', 'Order Date', 'O…

In [5]:
PerspectiveWidget(df_pivoted)

PerspectiveWidget(columns=['Country', 'Region', 'Category', 'City', 'Customer ID', 'Discount', 'Order Date', '…

In [6]:
PerspectiveWidget(pt)

PerspectiveWidget(columns=['Country', 'Region', 'Consumer Discretionary', 'Consumer Staples', 'Energy', 'Finan…

In [7]:
arrays = [np.array(['bar', 'bar', 'bar', 'bar', 'baz', 'baz', 'baz', 'baz', 'foo', 'foo', 'foo', 'foo', 'qux', 'qux', 'qux', 'qux']),
          np.array(['one', 'one', 'two', 'two', 'one', 'one', 'two', 'two', 'one', 'one', 'two', 'two', 'one', 'one', 'two', 'two']),
          np.array(['X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y'])]
tuples = list(zip(*arrays))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second', 'third',])

df_both = pd.DataFrame(np.random.randn(3, 16), index=['A', 'B', 'C'], columns=index)
df_both

first        bar                                     baz                      \
second       one                 two                 one                 two
third          X         Y         X         Y         X         Y         X
A      -1.551282 -1.069651  0.844408 -1.892246 -1.022760 -0.525205 -0.345514
B       0.521262  0.346698 -1.425638 -0.144811 -0.438447 -0.133893  0.242218
C       0.760693 -0.076754  0.989660  0.254075 -0.998013 -0.437679  0.044536

first                  foo                                     qux            \
second                 one                 two                 one
third          Y         X         Y         X         Y         X         Y
A      -0.439122 -1.485149  1.198413 -0.645822  0.871303  0.113811  0.483348
B       0.815270  2.090969 -0.328409  1.912698  0.013588 -0.703574  0.995964
C      -1.746259  0.477681 -0.543404  0.808768 -2.702967 -0.901890  0.429952

first
second       two
third          X         Y
A      -1.559459 -0.284386
B       0.218183  1.339622
C       2.377907 -0.332014

In [10]:
PerspectiveWidget(df_both)

PerspectiveWidget(columnpivots=['first', 'second', 'third'], columns=[' '], rowpivots=['index'], schema={'firs…