In [1]:
import pandas as pd
import numpy as np
import lantern as l
from perspective import PerspectiveWidget

In [2]:
# basic
df = l.superstore()
line = l.line()

In [3]:
df_pivoted = df.set_index(['Country', 'Region'])
pt = pd.pivot_table(df, values = 'Discount', index=['Country','Region'], columns = 'Category')

In [4]:
df_pivoted.head()

                                    Category          City Customer ID  \
Country Region
US      Region 0  Telecommunication Services     Kiaraside       070AO
        Region 4      Consumer Discretionary   South Tommy     WC 4838
        Region 0                   Materials      Rothstad    30A 1664
        Region 3                 Real Estate  Daniellefort       0P793
        Region 1                   Materials      Garyfurt     JTB-370

                  Discount  Order Date    Order ID Postal Code  \
Country Region
US      Region 0     37.96  2018-04-19  24-2812749       33310
        Region 4     72.15  2018-11-02  74-3027028       78370
        Region 0     68.65  2018-08-07  20-6847886       72043
        Region 3     67.68  2018-03-22  04-9343869       94208
        Region 1     33.27  2018-04-11  46-0803521       06793

                         Product ID  Profit  Quantity  Row ID  Sales Segment  \
Country Region
US      Region 0  KOTJ3362176321021  209.95       840       0   6100       C
        Region 4  MBAF1463653935040  228.76       350       1   5800       D
        Region 0  GMOW8345081408689  969.04       490       2    200       A
        Region 3  QRDH6679037466066  760.95       300       3   4500       D
        Region 1  FNAN0318017721703  721.48       960       4   1600       A

                   Ship Date       Ship Mode       State  \
Country Region
US      Region 0  2018-08-10     First Class     Montana
        Region 4  2018-11-23  Standard Class    Missouri
        Region 0  2018-09-10     First Class     Indiana
        Region 3  2018-10-14     First Class  New Jersey
        Region 1  2018-04-14  Standard Class        Ohio

                                          Sub-Category
Country Region
US      Region 0   Wireless Telecommunication Services
        Region 4      Textiles, Apparel & Luxury Goods
        Region 0               Paper & Forest Products
        Region 3  Equity Real Estate Investment Trusts
        Region 1                Containers & Packaging

In [5]:
PerspectiveWidget(df_pivoted)

PerspectiveWidget(columns=['Category', 'City', 'Customer ID', 'Discount', 'Order Date', 'Order ID', 'Postal Coâ€¦

In [6]:
PerspectiveWidget(pt)

PerspectiveWidget(columns=['Consumer Discretionary', 'Consumer Staples', 'Energy', 'Financials', 'Health Care'â€¦

In [7]:
arrays = [np.array(['bar', 'bar', 'bar', 'bar', 'baz', 'baz', 'baz', 'baz', 'foo', 'foo', 'foo', 'foo', 'qux', 'qux', 'qux', 'qux']),
          np.array(['one', 'one', 'two', 'two', 'one', 'one', 'two', 'two', 'one', 'one', 'two', 'two', 'one', 'one', 'two', 'two']),
          np.array(['X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y'])]
tuples = list(zip(*arrays))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second', 'third',])

df_both = pd.DataFrame(np.random.randn(3, 16), index=['A', 'B', 'C'], columns=index)
df_both

first        bar                                     baz                      \
second       one                 two                 one                 two
third          X         Y         X         Y         X         Y         X
A       1.646832  1.168935 -0.523342  0.442163 -0.952784  0.862092  0.480534
B      -0.835261  1.776053 -0.613156 -0.640098  1.155854  0.240755 -0.350926
C      -0.378184  0.862211 -1.888629  1.989719  1.140807  0.188845 -0.051395

first                  foo                                     qux            \
second                 one                 two                 one
third          Y         X         Y         X         Y         X         Y
A      -0.498201  0.707021  1.044063 -0.750248 -0.220615 -0.227064 -0.160982
B      -1.480121 -0.551050  0.412041  0.726706 -2.116239  1.062515  1.106682
C      -0.368540 -0.480797  1.291513  0.549801  0.600356  1.105824  0.453928

first
second       two
third          X         Y
A       0.988344  1.280081
B      -1.154224 -1.450144
C      -0.051696 -1.697881

In [8]:
PerspectiveWidget(df_both)

PerspectiveWidget(columnpivots=['first', 'second', 'third'], columns=[' '], datasrc='pandas', rowpivots=['indeâ€¦

In [9]:
p = PerspectiveWidget(df, columns=['Quantity', 'Profit'])
p

PerspectiveWidget(columns=['Quantity', 'Profit'], datasrc='pandas', schema={'index': 'integer', 'Category': 'sâ€¦