In [5]:
import pandas as pd
import numpy as np
import lantern as l
from perspective import PerspectiveWidget

In [6]:
# basic
df = l.superstore()
line = l.line()

In [7]:
df_pivoted = df.set_index(['Country', 'Region'])
pt = pd.pivot_table(df, values = 'Discount', index=['Country','Region'], columns = 'Category')

In [8]:
PerspectiveWidget(df)

PerspectiveWidget(columns=['index', 'Category', 'City', 'Country', 'Customer ID', 'Discount', 'Order Date', 'O…

In [9]:
PerspectiveWidget(df_pivoted)

PerspectiveWidget(columns=['Category', 'City', 'Customer ID', 'Discount', 'Order Date', 'Order ID', 'Postal Co…

In [10]:
PerspectiveWidget(pt)

PerspectiveWidget(columns=['Consumer Discretionary', 'Consumer Staples', 'Energy', 'Financials', 'Health Care'…

In [11]:
arrays = [np.array(['bar', 'bar', 'bar', 'bar', 'baz', 'baz', 'baz', 'baz', 'foo', 'foo', 'foo', 'foo', 'qux', 'qux', 'qux', 'qux']),
          np.array(['one', 'one', 'two', 'two', 'one', 'one', 'two', 'two', 'one', 'one', 'two', 'two', 'one', 'one', 'two', 'two']),
          np.array(['X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y'])]
tuples = list(zip(*arrays))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second', 'third',])

df_both = pd.DataFrame(np.random.randn(3, 16), index=['A', 'B', 'C'], columns=index)
df_both

first        bar                                     baz                      \
second       one                 two                 one                 two
third          X         Y         X         Y         X         Y         X
A       1.558403  0.323286  0.989407 -0.688860  0.180364  0.742925  0.761421
B       0.867625  0.641036  1.263750 -0.157152 -0.725327 -1.010236 -0.509028
C      -1.571326 -0.821716 -0.450604 -0.713718  0.099601  1.539065  1.679344

first                  foo                                     qux            \
second                 one                 two                 one
third          Y         X         Y         X         Y         X         Y
A      -0.987402 -0.726622 -1.977540 -1.233716  0.077184  0.385135  1.389902
B      -0.299852 -1.750792  0.273887 -1.681000  0.433617 -1.425491 -0.196021
C       1.992823 -0.848117 -1.240340  1.637245  1.661850 -0.987265  1.049792

first
second       two
third          X         Y
A       0.962242 -0.018687
B       1.492796 -0.297528
C       0.131757 -0.349472

In [17]:
PerspectiveWidget(df_both)

PerspectiveWidget(columnpivots=['first', 'second', 'third'], columns=[' '], rowpivots=['index'], schema={'firs…

In [18]:
PerspectiveWidget(df, rowpivots=[''])

PerspectiveWidget(columns=['index', 'Category', 'City', 'Country', 'Customer ID', 'Discount', 'Order Date', 'O…